/* styling for the whole page, to fit the color scheme*/
html, body {
    background:  #0a0a0e;
    margin: 0px;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: 'F1',sans-serif; 
  }
  p,a,button, input, select, textarea,form, label{
    font-family: 'F2', sans-serif;
  }
  body{
    overflow-x: hidden;
  }

  /* gave this div that full page effect */
  .full-page {
    margin: 0px;
  }

  /* seperating the page into 2 sections */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    padding: 0px;
    margin: 0;
    border: none;
  }
  /* different styling for each block */
  .block1 {
    background-color: transparent;
    border: none;
    width: 100%;

  }
  .block2 {
    background-color: transparent;
    height: auto;
    padding-top: 120px;
    border: none;
    width: 110%;
    padding-left: -20px;
  }

  /* styling for the various elements in the page */
  #headline{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 38px;
    margin-top: 50px;
    margin-bottom: 8px;
  }
  #subheader{
    color: rgb(177, 176, 176);
    text-align: center;
    margin-top: 0px;
    font-weight: lighter;
  }
  /* styling for the form */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 0px solid #ccc;
    border-radius: 5px;
}
label {
    display: block;
    color: rgb(194, 194, 194);
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 100;
}
input[type="email"],
input[type="password"],
input[type="name"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="message"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    height: 70px;

}
input[type="submit"] {
    background-color: #3D5EC7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 45%;
    display: block;
    margin: auto;

}
input[type="submit"]:hover {
    background-color: #465fb3;
}
img{
    width: 107%;
    padding: -10px;
}

/*the button to go back to the homepage*/
.back-button {
  background-color: #20242C;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 14%;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-right: 100px;
}
.back-button:hover{
  color: black;
  background-color: white;
}

/* Css for the block1 */


